* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main {
	display: flex;
	justify-content: flex-end;
}

img {
	max-height: 100vh;
}

button {
	width: 100px;
	height: 100px;
	border: 2px solid #424242;
	border-radius: 100%;
	background-color: transparent;
	margin: 10px;
}

button:hover {
	background-color: #e6e6e6;
}

button:active {
	background-color: #c1c1c1;
}

button:focus {
	outline: none;
}

h1 {
	font-family: "Fredoka One", cursive;
	font-size: 62px;
	color: #424242;
	text-align: center;
	line-height: 60px;
}
p {
	font-family: "Work Sans", sans-serif;
}
.Container {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#buttonContainer {
	padding: 30px;
	position: relative;
	top: 50px;
}
